@charset "UTF-8";

/* ==============================
	変数
===============================*/
// カラー
$charBlack: #333;
$charGray: #777;
$charCase: #ccc;
$decoBg: #eee;
$accent: #ff0000;

// PC フォントサイズ
$pcSectionTitle: 2.5rem;
$pcSectionTitleSub: 0.7rem;
$pcBlockTitle: clamp(24px, 1rem, 1.8rem);
$pcArticleText: clamp(18px, 0.65rem, 0.7rem);

// TB フォントサイズ
$tbSectionTitle: 2.5rem;
$tbSectionTitleSub: 0.7rem;
$tbBlockTitle: clamp(24px, 1rem, 1.8rem);
$tbArticleText: clamp(18px, 0.65rem, 0.7rem);

@media screen and (min-width: 768px) {
  /* ==============================
	basic
===============================*/
  body {
    font-size: $pcArticleText;
  }

  /* ==============================
	common
===============================*/

  //セクションタイトル
  .section-title-wrapper {
    padding-bottom: 1rem;

    & .section-title {
      & .section-title-desc {
        font-size: $pcSectionTitleSub;
      }
      & .title {
        font-size: $pcSectionTitle;
        line-height: 3rem;
      }

      &.left-aligned {
        margin-left: 1.5rem;
      }

      &.right-aligned {
        margin-right: 1.5rem;
      }
    }

    & .bg-rectangle {
      width: 60%;
      height: 5rem;
    }
  }

  // ブロックタイトル
  .block-title {
    font-size: $pcBlockTitle;
    line-height: 2rem;
    margin: 3rem 0;
  }

  // 飾りボックス
  .box-upperright,
  .box-lowerleft {
    width: 2.5rem;
    height: 2.5rem;
  }

  // br-none
  .br-none {
    display: none;
  }

  // table
  .table-contents {
    padding: 30px 5rem;
    margin-bottom: 2rem;

    & .table {
      & tr {
        height: 2.5rem;
      }
    }
  }

  // contact-btn
  .contact-btn {
    width: 120px;
    height: 120px;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  /* ==============================
	TB style
===============================*/
  /* ==============================
	section1  main visual
===============================*/
  .main-visual {
    .first-view {
      height: 85vh;
      max-height: 1200px;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    }

    // ヘッダー部分
    & .header {
      & .site-title {
        & .logo {
          width: 100px;
        }
        & .site-title-desc {
          font-size: 22px;
        }
      }
    }

    // キャッチコピー
    & .main-name {
      margin: 2rem 10px;
      line-height: 6rem;
    }

    // スクロールカーソル
    .scroll-cursor {
      top: 32rem;

      & .scroll-down {
        // 文字
        & span {
          font-size: 1.6rem;
          letter-spacing: 0.2rem;
          top: 1.5rem;
        }

        // 縦棒
        &::after {
          height: 8rem;
        }

        // 矢印部分
        & .scroll-arrow-circle {
          width: 100px;
          height: 100px;
          left: -50px;
          top: 8rem;
        }
      }
    }

    // アイキャッチ画像
    & .main-pic {
      transform: translateY(0);
      position: relative;
      z-index: -5;
      width: 75%;
      margin-bottom: 0;
    }
  }

  /* ==============================
	section2  school
===============================*/
  .school {
    margin-top: 3rem;
    margin-bottom: 5rem;

    // ロゴ
    & .logo-box {
      width: 15%;
    }

    // スクール名
    & .school-name-wrapper {
      & .school-name {
        margin-top: 1rem;
      }
    }
  }

  /* ==============================
	section3  ideal life
===============================*/
  .ideal-life {
    & .ideal-block {
      & .ideal-wrapper {
        height: 38rem;

        // 背景飾り
        & .bg-rectangle {
          width: 80%;
          height: 23rem;
          top: 10rem;
        }

        & .bg-rectangle2 {
          width: 80%;
          height: 24rem;
          top: 8rem;
          left: 0;
        }

        // 理想の生活 各ブロック部分
        .ideal {
          flex-direction: row;
          justify-content: flex-start;

          & .ideal-img {
            margin-right: 0;
            margin-left: 0;
          }
          & .ideal-desc {
            font-size: $pcArticleText;
            line-height: 1.4rem;
            display: block;
          }

          // 奇数番目のブロックを左寄せ
          &.ideal-position1,
          &.ideal-position3,
          &.ideal-position5 {
            & .ideal-img {
            }
            & .ideal-desc {
              margin-left: 0;
              margin-right: 0;
            }
          }

          // 偶数番目のブロックを右寄せ
          &.ideal-position2,
          &.ideal-position4,
          &.ideal-position6 {
            flex-direction: row-reverse;

            & .ideal-img {
              margin-left: 0;
            }
            & .ideal-desc {
              margin-left: 0;
              padding-left: 20px;
            }
          }

          // 個別の大きさ
          &.ideal-position1,
          &.ideal-position4 {
            .ideal-img {
              width: 65%;
            }
          }

          &.ideal-position2 {
            .ideal-img {
              width: 45%;
            }
          }

          &.ideal-position3,
          &.ideal-position6 {
            .ideal-img {
              width: 42%;
            }
          }

          &.ideal-position5 {
            .ideal-img {
              width: 50%;
            }
          }

          // 個別の位置調整
          &.ideal-position1 {
            & .ideal-desc {
              margin: 3rem 0 0 20px;
            }
          }

          &.ideal-position2 {
            position: absolute;
            top: 16rem;
            right: 0;

            & .ideal-desc {
              margin: 4rem 20px 0 0;
            }
          }

          &.ideal-position3 {
            position: absolute;
            top: 27rem;
            left: 4rem;

            & .ideal-desc {
              margin: 6.5rem 0 0 20px;
            }
          }

          &.ideal-position4 {
            & .ideal-desc {
              margin: 3rem 20px 0 0;
            }
          }

          &.ideal-position5 {
            position: absolute;
            top: 14rem;

            & .ideal-desc {
              margin: 5rem 0 0 20px;
            }
          }

          &.ideal-position6 {
            position: absolute;
            top: 30rem;
            right: 2rem;

            & .ideal-img {
              margin-right: 0;
              width: 50%;
            }

            & .ideal-desc {
              margin: auto 20px 0 0;
            }
          }
        }

        &.higher {
          height: 48rem;
        }
      }

      // 各ブロック間のメッセージ
      & .block-title {
        & h3 {
          & span {
            width: 22rem;
            transform: translateY(0.7rem);
          }
        }
      }

      // 帯部分
      & .belt {
        font-size: $pcBlockTitle;
        line-height: 1.5rem;
      }
    }

    // エンジニアなら手に入れられます
    & .claim {
      & .claim-box {
        font-size: 3.5rem;
        line-height: 6rem;
        padding: 1rem 2rem;
      }
    }
  }

  /* ==============================
	section4  problems
===============================*/
  .problems {
    & .case-container {
      // セクションタイトル
      & .section-title-wrapper {
        margin-top: 4rem;

        & .section-title {
          & .title {
            font-size: $pcSectionTitle;
          }
        }
      }
    }

    // 問題タイトル
    & .title-container {
      & .problem-title-wrapper {
        font-size: 1.2rem;
        padding: 1.5rem 0.6rem 2.8rem 1rem;
        width: 65%;

        & .problem-desc-wrapper {
          margin-left: 5rem;
          & .problem-title {
            line-height: 1.8rem;
          }
        }

        // 1つ目のタイトル個別
        &.left-side {
          left: -50px;
        }

        // 2つ目のタイトル個別
        &.right-side {
          right: -50px;
          padding: 1.8rem 1rem 1.5rem 1rem;

          & .problem-desc-wrapper {
            margin-top: 0.5rem;
            margin-left: 5rem;
            & .title-number {
              margin-bottom: 2.5rem;
            }
          }
        }
      }
    }

    // ビフォーアフター
    & .ba-wrapper {
      flex-direction: row;

      // ビフォーアフター1セット
      & .improvement {
        width: 45%;
        margin: 2rem auto 4rem;
        padding: 0;

        // ビフォーアフターのカード
        & .ba-card {
          & .ba-title {
            font-size: $pcBlockTitle;
          }
          & .ba-img {
            width: 8rem;
          }
          & .ba-desc {
            font-size: $pcArticleText;
            line-height: 1.5rem;
          }
        }

        // ビフォーアフターをつなぐ矢印
        & .arrow {
          padding-top: 5.7rem;
        }
      }
    }
  }

  /* ==============================
	section5  solve
===============================*/
  .solve {
    // セクションタイトル
    & .solve-title {
      & .section-title-wrapper {
        & .section-title {
          & .title {
            font-size: $pcSectionTitle;
          }
        }
      }
      // セクションタイトル 飾り・画像部分
      & .solve2 {
        height: 7rem;
      }
    }

    // 理由
    & .reasons {
      & .reason {
        // ブロックごとのタイトル
        & .flex {
          & .number-box {
            width: 20%;
            height: 5rem;
            & .reason-number {
              font-size: 4rem;
            }
          }
          & .solve-title {
            font-size: calc($pcBlockTitle * 1.3);
          }
        }

        //　ブロックのコンテンツ部分
        & .solve-box {
          height: 28rem;
          min-height: 500px;

          & .solve-img {
            width: 55%;
          }
          & .solve-text-box {
            width: 65%;

            & .solve-desc {
              line-height: 1.3rem;
            }
          }
        }

        &.left {
          & .solve-box {
            & .solve-img {
              left: 1.8rem;
            }
            & .solve-text-box {
              top: 4rem;
            }
          }
        }
        &.right {
          & .solve-box {
            & .solve-img {
              right: 1.8rem;
            }
            & .solve-text-box {
              top: 4rem;
            }
          }
        }
      }
    }
  }

  /* ==============================
	section6  lesson
===============================*/
  .lesson {
    padding-bottom: 5rem;
    margin-bottom: 1rem;

    // 背景飾り
    & .bg-rectangle {
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    }

    // セクションタイトル
    & .section-title-wrapper {
      & .section-title {
        & .title {
          font-size: $pcSectionTitle;
        }
      }
    }

    // メッセージ
    & .block-title {
      font-size: $pcBlockTitle;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }

    // レッスンステップ
    & .lesson-step {
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
      gap: 1rem;

      & .lesson-card {
        // width: 32%;

        &:nth-child(1) {
          flex: 3;
        }

        &:nth-child(2) {
          margin-top: 1rem;
          flex: 4;
        }
        &:nth-child(3) {
          margin-top: 2rem;
          flex: 3;
        }

        & .step-title {
          font-size: calc($pcBlockTitle * 0.8);
        }
        & .step-desc {
          font-size: $pcArticleText;
          line-height: 1.2rem;
        }
      }
    }
  }
  /* ==============================
	section7  contact
===============================*/
  .contact {
    // セクションタイトル
    & .contact-title {
      // 背景・コンテンツ
      & .contact-box-container {
        & .contact-box {
          & p {
            font-size: $tbBlockTitle;
          }

          // ボタン・QR
          & .how-contact {
            margin: 3rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;

            & a {
              & img {
                height: 4rem;
              }
            }

            & .qr-code {
              width: 5rem;
              min-width: 150px;
              display: block;
            }
          }
        }
      }
    }
  }

  /* ==============================
	section8  instructor
===============================*/
  .about-instructor {
    // 講師
    & .instructor {
      flex-direction: row;
      align-items: center;
      margin-right: auto;
      width: 95%;

      // 背景飾り
      &::after {
        width: 100%;
        height: 17rem;
      }

      // 講師画像
      & .instructor-img {
        width: 45%;
        height: auto;
      }

      // 講師の名前・キャリア
      & .instructor-text-block {
        width: 50%;
        & .instructor-name {
          font-size: calc($pcBlockTitle * 1.2);
        }
        & .instructor-career {
          font-size: $pcArticleText;
          line-height: 1.4rem;
        }
      }
    }

    // 過去の成果物
    & .past-work-wrapper {
      // 背景飾り
      & .bg-rectangle {
        top: 8rem;
        height: 22rem;
      }

      // 成果物
      & .past-work {
        & .instructor-title {
          font-size: $pcBlockTitle;
        }
        & .work {
          flex-direction: row;
          justify-content: space-between;
          padding: 0 20px;

          & .work-img {
            width: 40%;
            height: auto;
            & img {
              object-fit: cover;
            }
          }
          & .work-text-block {
            width: 55%;
            & .work-title {
              font-size: calc($pcArticleText * 1.2);
            }
            & .work-desc {
              font-size: $pcArticleText;
              line-height: 1.2rem;
            }

            & .creation-btn-wrapper {
              & .each-creation-btn {
                & > a {
                  font-size: $pcArticleText;
                }
              }
            }
          }
        }
      }
    }

    // 受講生・卒業生からのメッセージ
    & .from-graduate {
      text-align: initial;

      // インタビューセクション
      & .interview {
        // 背景飾り
        & .bg-rectangle {
          width: 92%;
          height: 30rem;
          top: 12rem;
          left: 0;
        }

        .interview-box {
          text-align: center;
          width: 90%;

          &.about-graduate {
            margin-left: auto;
          }
        }
      }

      // 卒業生インタビュー
      & .after-graduation {
        text-align: center;

        & .table-contents {
          margin-bottom: 0;
        }

        & .after-graduation-desc {
          margin: 1.5rem 0 3rem;
          line-height: 2rem;
          padding: 0 5rem;
        }
      }
    }

    // 講師からのメッセージ
    & .message {
      width: 80%;
      & .message-desc {
        font-size: $pcArticleText;
        line-height: 1.2rem;
      }
    }

    // 受講生・卒業生からのメッセージのタイトル
    .instructor-title {
      font-size: $pcBlockTitle;
    }

    // 動画用コンテナ
    .movie-container {
      width: 100%;
      margin: 0 0 4rem 0;
    }
  }

  /* ==============================
	section9  footer
===============================*/
  .footer {
    & .footer-logo {
      width: 10%;
    }
  }

  /* ==============================
	PC style
===============================*/
  @media screen and (min-width: 1024px) {
    /* ==============================
	PC common
===============================*/
    // loading画面
    .loading {
      & .black-circle {
        width: 220vh;
        height: 220vh;
      }

      & .loading-desc {
        font-size: 2rem;
        line-height: 4rem;
      }
    }

    .delay49,
    .delay53,
    .delay55 {
      animation-delay: 0s;
    }

    // 問い合わせボタン
    .contact-btn {
      width: 130px;
      height: 130px;
    }

    /* ==============================
	PC section1 main visual
===============================*/

    .main-visual {
      .first-view {
        height: 180vh;
        max-height: initial;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
      }

      // スクロールカーソル
      .scroll-cursor {
        top: 28rem;
        & .scroll-down {
          @keyframes arrowMove {
            0% {
              top: 1%;
            }

            50% {
              top: 30px;
            }

            100% {
              top: 1%;
            }
          }

          // 文字
          & span {
            font-size: 1.2rem;
            top: 1.6rem;
            left: -1.4rem;
          }

          // 縦棒
          &::after {
            height: 7rem;
          }

          // 矢印部分
          & .scroll-arrow-circle {
            width: 150px;
            height: 150px;
            left: -75px;
            top: 7rem;
          }
        }
      }

      .main-name {
        & .name-desc {
          line-height: 4.5rem;
        }
      }

      .main-pic {
        transform: translateY(-4rem);
      }
    }

    /* ==============================
	PC section3 ideal life
===============================*/
    .ideal-life {
      & .ideal-block {
        // 背景飾り
        .bg-rectangle {
          height: 25rem;
        }

        & .ideal-wrapper {
          // 背景飾り
          & .bg-rectangle2 {
            height: 26rem;
          }

          // 理想の生活 各ブロック部分
          .ideal {
            &.ideal-position5 {
              top: 17rem;
              & .ideal-img {
                width: 40%;
              }
            }
            &.ideal-position6 {
              top: 31rem;
            }
          }
        }

        // 各ブロック間のメッセージ
        & .block-title {
          & h3 {
            & span {
              width: 20rem;
            }
          }
        }
      }

      // エンジニアなら手に入れられます
      .claim {
        background-position: 0 0;
      }
    }

    /* ==============================
	PC section4 problems
===============================*/
    .problems {
      // 問題タイトル
      & .title-container {
        & .problem-title-wrapper {
          width: 50%;

          & .problem-desc-wrapper {
            margin-left: 1.5rem;
          }

          // 2つ目のタイトル個別
          &.right-side {
            padding: 1.5rem 1rem 2rem 0.5rem;

            & .problem-desc-wrapper {
              margin-left: 3rem;
            }
          }
        }
      }

      // ビフォーアフター
      & .ba-wrapper {
        // ビフォーアフター1セット
        & .improvement {
          // ビフォーアフターのカード
          & .ba-card {
            & .ba-desc {
              line-height: 1rem;
            }
          }

          // ビフォーアフターをつなぐ矢印
          & .arrow {
            padding-top: 5rem;
          }
        }
      }
    }

    /* ==============================
	PC section5 solve
===============================*/
    .solve {
      & .reasons {
        & .reason {
          //　ブロックのコンテンツ部分
          & .solve-box {
            height: 26rem;

            & .solve-img {
              width: 55%;
            }
            & .solve-text-box {
              width: 55%;

              & .solve-desc {
                line-height: 1.3rem;
              }
            }
          }
        }
      }
    }

    /* ==============================
	PC section7 contact
===============================*/
    .contact {
      // セクションタイトル
      & .contact-title {
        // 背景・コンテンツ
        & .contact-box-container {
          & .contact-box {
            & p {
              font-size: $pcBlockTitle;
              line-height: 2rem;
            }

            // ボタン・QR
            & .how-contact {
              gap: 2.5rem;

              & a {
                & img {
                  height: 2rem;
                }
              }
            }
          }
        }
      }
    }

    /* ==============================
	PC section8 instructor
===============================*/
    .about-instructor {
      // 講師
      & .instructor {
        margin-right: auto;
        width: 90%;

        // 背景飾り
        &::after {
          height: 16rem;
        }
      }

      // 過去の成果物
      & .past-work-wrapper {
        // 背景飾り
        & .bg-rectangle {
          top: 5rem;
          height: 18rem;
        }
      }

      // 受講生・卒業生からのメッセージ
      & .from-graduate {
        // インタビューセクション
        & .interview {
          // 背景飾り
          & .bg-rectangle {
            width: 95%;
          }
        }

        // 卒業生インタビュー
        & .after-graduation {
          & .after-graduation-desc {
            line-height: 1.2rem;
          }
        }
      }
    }
  }
}
