@charset "UTF-8";
/* ==============================
	変数
===============================*/
@media screen and (min-width: 768px) {
  /* ==============================
  	basic
  ===============================*/
  body {
    font-size: clamp(18px, 0.65rem, 0.7rem);
  }
  /* ==============================
  	common
  ===============================*/
  .section-title-wrapper {
    padding-bottom: 1rem;
  }
  .section-title-wrapper .section-title .section-title-desc {
    font-size: 0.7rem;
  }
  .section-title-wrapper .section-title .title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .section-title-wrapper .section-title.left-aligned {
    margin-left: 1.5rem;
  }
  .section-title-wrapper .section-title.right-aligned {
    margin-right: 1.5rem;
  }
  .section-title-wrapper .bg-rectangle {
    width: 60%;
    height: 5rem;
  }
  .block-title {
    font-size: clamp(24px, 1rem, 1.8rem);
    line-height: 2rem;
    margin: 3rem 0;
  }
  .box-upperright,
  .box-lowerleft {
    width: 2.5rem;
    height: 2.5rem;
  }
  .br-none {
    display: none;
  }
  .table-contents {
    padding: 30px 5rem;
    margin-bottom: 2rem;
  }
  .table-contents .table tr {
    height: 2.5rem;
  }
  .contact-btn {
    width: 120px;
    height: 120px;
    bottom: 1.5rem;
    right: 1.5rem;
  }
  /* ==============================
  	TB style
  ===============================*/
  /* ==============================
  	section1  main visual
  ===============================*/
  .main-visual .first-view {
    height: 85vh;
    max-height: 1200px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  }
  .main-visual .header .site-title .logo {
    width: 100px;
  }
  .main-visual .header .site-title .site-title-desc {
    font-size: 22px;
  }
  .main-visual .main-name {
    margin: 2rem 10px;
    line-height: 6rem;
  }
  .main-visual .scroll-cursor {
    top: 32rem;
  }
  .main-visual .scroll-cursor .scroll-down span {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    top: 1.5rem;
  }
  .main-visual .scroll-cursor .scroll-down::after {
    height: 8rem;
  }
  .main-visual .scroll-cursor .scroll-down .scroll-arrow-circle {
    width: 100px;
    height: 100px;
    left: -50px;
    top: 8rem;
  }
  .main-visual .main-pic {
    transform: translateY(0);
    position: relative;
    z-index: -5;
    width: 75%;
    margin-bottom: 0;
  }
  /* ==============================
  	section2  school
  ===============================*/
  .school {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .school .logo-box {
    width: 15%;
  }
  .school .school-name-wrapper .school-name {
    margin-top: 1rem;
  }
  /* ==============================
  	section3  ideal life
  ===============================*/
  .ideal-life .ideal-block .ideal-wrapper {
    height: 38rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .bg-rectangle {
    width: 80%;
    height: 23rem;
    top: 10rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .bg-rectangle2 {
    width: 80%;
    height: 24rem;
    top: 8rem;
    left: 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal {
    flex-direction: row;
    justify-content: flex-start;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal .ideal-img {
    margin-right: 0;
    margin-left: 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal .ideal-desc {
    font-size: clamp(18px, 0.65rem, 0.7rem);
    line-height: 1.4rem;
    display: block;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position1 .ideal-desc, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position3 .ideal-desc, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position5 .ideal-desc {
    margin-left: 0;
    margin-right: 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position2, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position4, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 {
    flex-direction: row-reverse;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position2 .ideal-img, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position4 .ideal-img, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 .ideal-img {
    margin-left: 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position2 .ideal-desc, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position4 .ideal-desc, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 .ideal-desc {
    margin-left: 0;
    padding-left: 20px;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position1 .ideal-img, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position4 .ideal-img {
    width: 65%;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position2 .ideal-img {
    width: 45%;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position3 .ideal-img, .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 .ideal-img {
    width: 42%;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position5 .ideal-img {
    width: 50%;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position1 .ideal-desc {
    margin: 3rem 0 0 20px;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position2 {
    position: absolute;
    top: 16rem;
    right: 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position2 .ideal-desc {
    margin: 4rem 20px 0 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position3 {
    position: absolute;
    top: 27rem;
    left: 4rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position3 .ideal-desc {
    margin: 6.5rem 0 0 20px;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position4 .ideal-desc {
    margin: 3rem 20px 0 0;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position5 {
    position: absolute;
    top: 14rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position5 .ideal-desc {
    margin: 5rem 0 0 20px;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 {
    position: absolute;
    top: 30rem;
    right: 2rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 .ideal-img {
    margin-right: 0;
    width: 50%;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 .ideal-desc {
    margin: auto 20px 0 0;
  }
  .ideal-life .ideal-block .ideal-wrapper.higher {
    height: 48rem;
  }
  .ideal-life .ideal-block .block-title h3 span {
    width: 22rem;
    transform: translateY(0.7rem);
  }
  .ideal-life .ideal-block .belt {
    font-size: clamp(24px, 1rem, 1.8rem);
    line-height: 1.5rem;
  }
  .ideal-life .claim .claim-box {
    font-size: 3.5rem;
    line-height: 6rem;
    padding: 1rem 2rem;
  }
  /* ==============================
  	section4  problems
  ===============================*/
  .problems .case-container .section-title-wrapper {
    margin-top: 4rem;
  }
  .problems .case-container .section-title-wrapper .section-title .title {
    font-size: 2.5rem;
  }
  .problems .title-container .problem-title-wrapper {
    font-size: 1.2rem;
    padding: 1.5rem 0.6rem 2.8rem 1rem;
    width: 65%;
  }
  .problems .title-container .problem-title-wrapper .problem-desc-wrapper {
    margin-left: 5rem;
  }
  .problems .title-container .problem-title-wrapper .problem-desc-wrapper .problem-title {
    line-height: 1.8rem;
  }
  .problems .title-container .problem-title-wrapper.left-side {
    left: -50px;
  }
  .problems .title-container .problem-title-wrapper.right-side {
    right: -50px;
    padding: 1.8rem 1rem 1.5rem 1rem;
  }
  .problems .title-container .problem-title-wrapper.right-side .problem-desc-wrapper {
    margin-top: 0.5rem;
    margin-left: 5rem;
  }
  .problems .title-container .problem-title-wrapper.right-side .problem-desc-wrapper .title-number {
    margin-bottom: 2.5rem;
  }
  .problems .ba-wrapper {
    flex-direction: row;
  }
  .problems .ba-wrapper .improvement {
    width: 45%;
    margin: 2rem auto 4rem;
    padding: 0;
  }
  .problems .ba-wrapper .improvement .ba-card .ba-title {
    font-size: clamp(24px, 1rem, 1.8rem);
  }
  .problems .ba-wrapper .improvement .ba-card .ba-img {
    width: 8rem;
  }
  .problems .ba-wrapper .improvement .ba-card .ba-desc {
    font-size: clamp(18px, 0.65rem, 0.7rem);
    line-height: 1.5rem;
  }
  .problems .ba-wrapper .improvement .arrow {
    padding-top: 5.7rem;
  }
  /* ==============================
  	section5  solve
  ===============================*/
  .solve .solve-title .section-title-wrapper .section-title .title {
    font-size: 2.5rem;
  }
  .solve .solve-title .solve2 {
    height: 7rem;
  }
  .solve .reasons .reason .flex .number-box {
    width: 20%;
    height: 5rem;
  }
  .solve .reasons .reason .flex .number-box .reason-number {
    font-size: 4rem;
  }
  .solve .reasons .reason .flex .solve-title {
    font-size: calc(clamp(24px, 1rem, 1.8rem) * 1.3);
  }
  .solve .reasons .reason .solve-box {
    height: 28rem;
    min-height: 500px;
  }
  .solve .reasons .reason .solve-box .solve-img {
    width: 55%;
  }
  .solve .reasons .reason .solve-box .solve-text-box {
    width: 65%;
  }
  .solve .reasons .reason .solve-box .solve-text-box .solve-desc {
    line-height: 1.3rem;
  }
  .solve .reasons .reason.left .solve-box .solve-img {
    left: 1.8rem;
  }
  .solve .reasons .reason.left .solve-box .solve-text-box {
    top: 4rem;
  }
  .solve .reasons .reason.right .solve-box .solve-img {
    right: 1.8rem;
  }
  .solve .reasons .reason.right .solve-box .solve-text-box {
    top: 4rem;
  }
  /* ==============================
  	section6  lesson
  ===============================*/
  .lesson {
    padding-bottom: 5rem;
    margin-bottom: 1rem;
  }
  .lesson .bg-rectangle {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }
  .lesson .section-title-wrapper .section-title .title {
    font-size: 2.5rem;
  }
  .lesson .block-title {
    font-size: clamp(24px, 1rem, 1.8rem);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .lesson .lesson-step {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 1rem;
  }
  .lesson .lesson-step .lesson-card:nth-child(1) {
    flex: 3;
  }
  .lesson .lesson-step .lesson-card:nth-child(2) {
    margin-top: 1rem;
    flex: 4;
  }
  .lesson .lesson-step .lesson-card:nth-child(3) {
    margin-top: 2rem;
    flex: 3;
  }
  .lesson .lesson-step .lesson-card .step-title {
    font-size: calc(clamp(24px, 1rem, 1.8rem) * 0.8);
  }
  .lesson .lesson-step .lesson-card .step-desc {
    font-size: clamp(18px, 0.65rem, 0.7rem);
    line-height: 1.2rem;
  }
  /* ==============================
  	section7  contact
  ===============================*/
  .contact .contact-title .contact-box-container .contact-box p {
    font-size: clamp(24px, 1rem, 1.8rem);
  }
  .contact .contact-title .contact-box-container .contact-box .how-contact {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  .contact .contact-title .contact-box-container .contact-box .how-contact a img {
    height: 4rem;
  }
  .contact .contact-title .contact-box-container .contact-box .how-contact .qr-code {
    width: 5rem;
    min-width: 150px;
    display: block;
  }
  /* ==============================
  	section8  instructor
  ===============================*/
  .about-instructor .instructor {
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    width: 95%;
  }
  .about-instructor .instructor::after {
    width: 100%;
    height: 17rem;
  }
  .about-instructor .instructor .instructor-img {
    width: 45%;
    height: auto;
  }
  .about-instructor .instructor .instructor-text-block {
    width: 50%;
  }
  .about-instructor .instructor .instructor-text-block .instructor-name {
    font-size: calc(clamp(24px, 1rem, 1.8rem) * 1.2);
  }
  .about-instructor .instructor .instructor-text-block .instructor-career {
    font-size: clamp(18px, 0.65rem, 0.7rem);
    line-height: 1.4rem;
  }
  .about-instructor .past-work-wrapper .bg-rectangle {
    top: 8rem;
    height: 22rem;
  }
  .about-instructor .past-work-wrapper .past-work .instructor-title {
    font-size: clamp(24px, 1rem, 1.8rem);
  }
  .about-instructor .past-work-wrapper .past-work .work {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
  .about-instructor .past-work-wrapper .past-work .work .work-img {
    width: 40%;
    height: auto;
  }
  .about-instructor .past-work-wrapper .past-work .work .work-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-instructor .past-work-wrapper .past-work .work .work-text-block {
    width: 55%;
  }
  .about-instructor .past-work-wrapper .past-work .work .work-text-block .work-title {
    font-size: calc(clamp(18px, 0.65rem, 0.7rem) * 1.2);
  }
  .about-instructor .past-work-wrapper .past-work .work .work-text-block .work-desc {
    font-size: clamp(18px, 0.65rem, 0.7rem);
    line-height: 1.2rem;
  }
  .about-instructor .past-work-wrapper .past-work .work .work-text-block .creation-btn-wrapper .each-creation-btn > a {
    font-size: clamp(18px, 0.65rem, 0.7rem);
  }
  .about-instructor .from-graduate {
    text-align: initial;
  }
  .about-instructor .from-graduate .interview .bg-rectangle {
    width: 92%;
    height: 30rem;
    top: 12rem;
    left: 0;
  }
  .about-instructor .from-graduate .interview .interview-box {
    text-align: center;
    width: 90%;
  }
  .about-instructor .from-graduate .interview .interview-box.about-graduate {
    margin-left: auto;
  }
  .about-instructor .from-graduate .after-graduation {
    text-align: center;
  }
  .about-instructor .from-graduate .after-graduation .table-contents {
    margin-bottom: 0;
  }
  .about-instructor .from-graduate .after-graduation .after-graduation-desc {
    margin: 1.5rem 0 3rem;
    line-height: 2rem;
    padding: 0 5rem;
  }
  .about-instructor .message {
    width: 80%;
  }
  .about-instructor .message .message-desc {
    font-size: clamp(18px, 0.65rem, 0.7rem);
    line-height: 1.2rem;
  }
  .about-instructor .instructor-title {
    font-size: clamp(24px, 1rem, 1.8rem);
  }
  .about-instructor .movie-container {
    width: 100%;
    margin: 0 0 4rem 0;
  }
  /* ==============================
  	section9  footer
  ===============================*/
  .footer .footer-logo {
    width: 10%;
  }
  /* ==============================
  	PC style
  ===============================*/
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  /* ==============================
  	PC common
  ===============================*/
  .loading .black-circle {
    width: 220vh;
    height: 220vh;
  }
  .loading .loading-desc {
    font-size: 2rem;
    line-height: 4rem;
  }
  .delay49,
  .delay53,
  .delay55 {
    animation-delay: 0s;
  }
  .contact-btn {
    width: 130px;
    height: 130px;
  }
  /* ==============================
  	PC section1 main visual
  ===============================*/
  .main-visual .first-view {
    height: 180vh;
    max-height: initial;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
  }
  .main-visual .scroll-cursor {
    top: 28rem;
  }
  @keyframes arrowMove {
    0% {
      top: 1%;
    }
    50% {
      top: 30px;
    }
    100% {
      top: 1%;
    }
  }
  .main-visual .scroll-cursor .scroll-down span {
    font-size: 1.2rem;
    top: 1.6rem;
    left: -1.4rem;
  }
  .main-visual .scroll-cursor .scroll-down::after {
    height: 7rem;
  }
  .main-visual .scroll-cursor .scroll-down .scroll-arrow-circle {
    width: 150px;
    height: 150px;
    left: -75px;
    top: 7rem;
  }
  .main-visual .main-name .name-desc {
    line-height: 4.5rem;
  }
  .main-visual .main-pic {
    transform: translateY(-4rem);
  }
  /* ==============================
  	PC section3 ideal life
  ===============================*/
  .ideal-life .ideal-block .bg-rectangle {
    height: 25rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .bg-rectangle2 {
    height: 26rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position5 {
    top: 17rem;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position5 .ideal-img {
    width: 40%;
  }
  .ideal-life .ideal-block .ideal-wrapper .ideal.ideal-position6 {
    top: 31rem;
  }
  .ideal-life .ideal-block .block-title h3 span {
    width: 20rem;
  }
  .ideal-life .claim {
    background-position: 0 0;
  }
  /* ==============================
  	PC section4 problems
  ===============================*/
  .problems .title-container .problem-title-wrapper {
    width: 50%;
  }
  .problems .title-container .problem-title-wrapper .problem-desc-wrapper {
    margin-left: 1.5rem;
  }
  .problems .title-container .problem-title-wrapper.right-side {
    padding: 1.5rem 1rem 2rem 0.5rem;
  }
  .problems .title-container .problem-title-wrapper.right-side .problem-desc-wrapper {
    margin-left: 3rem;
  }
  .problems .ba-wrapper .improvement .ba-card .ba-desc {
    line-height: 1rem;
  }
  .problems .ba-wrapper .improvement .arrow {
    padding-top: 5rem;
  }
  /* ==============================
  	PC section5 solve
  ===============================*/
  .solve .reasons .reason .solve-box {
    height: 26rem;
  }
  .solve .reasons .reason .solve-box .solve-img {
    width: 55%;
  }
  .solve .reasons .reason .solve-box .solve-text-box {
    width: 55%;
  }
  .solve .reasons .reason .solve-box .solve-text-box .solve-desc {
    line-height: 1.3rem;
  }
  /* ==============================
  	PC section7 contact
  ===============================*/
  .contact .contact-title .contact-box-container .contact-box p {
    font-size: clamp(24px, 1rem, 1.8rem);
    line-height: 2rem;
  }
  .contact .contact-title .contact-box-container .contact-box .how-contact {
    gap: 2.5rem;
  }
  .contact .contact-title .contact-box-container .contact-box .how-contact a img {
    height: 2rem;
  }
  /* ==============================
  	PC section8 instructor
  ===============================*/
  .about-instructor .instructor {
    margin-right: auto;
    width: 90%;
  }
  .about-instructor .instructor::after {
    height: 16rem;
  }
  .about-instructor .past-work-wrapper .bg-rectangle {
    top: 5rem;
    height: 18rem;
  }
  .about-instructor .from-graduate .interview .bg-rectangle {
    width: 95%;
  }
  .about-instructor .from-graduate .after-graduation .after-graduation-desc {
    line-height: 1.2rem;
  }
}/*# sourceMappingURL=pcstyle.css.map */