@charset "UTF-8";

/* ==============================
	変数
===============================*/
// カラー
$charBlack: #333;
$charGray: #777;
$charCase: #ccc;
$decoBg: #eee;
$accent: #ff0000;

// TB フォントサイズ

/* ==============================
	basic
===============================*/

/* ==============================
	common
===============================*/

/* ==============================
	section1  main visual
===============================*/

/* ==============================
	section2  school
===============================*/

/* ==============================
	section3  ideal life
===============================*/

/* ==============================
	section4  problems
===============================*/

/* ==============================
	section5  solve
===============================*/

/* ==============================
	section6  lesson
===============================*/

/* ==============================
	section7  contact
===============================*/

/* ==============================
	section8  instructor
===============================*/

/* ==============================
	section9  footer
===============================*/
